<h1>Menu</h1>
<div class="list-group">
    
  
  
    <a href="#1" class="list-group-item list-group-item-action list-group-item-primary">Racing Club de Avellaneda</a>
    <a href="#2" class="list-group-item list-group-item-action list-group-item-secondary">River Plate</a>
    <a href="#3" class="list-group-item list-group-item-action list-group-item-success">Boca JR</a>
    <a href="#4" class="list-group-item list-group-item-action list-group-item-danger">Independiente</a>
    <a href="#5" class="list-group-item list-group-item-action list-group-item-warning">San Lorenzo</a>
    <a href="#6" class="list-group-item list-group-item-action list-group-item-info">Estudiantes de la Plata</a>
  </div>